@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root{
    --royal-purple: #4C1D95;
    --plum-dark: #2E1065;
    --plum-deep: #1E0B44;
    --accent-pink: #F472B6;
    --vibrant-pink: #EC4899;
    --lavender-light: #E9D5FF;
}

@layer utilities {
  .clip-slant {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  }
}